.new-incident-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.new-incident-container .content {
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-incident-container .content section {
  width: 100%;
  max-width: 380px;
}

.new-incident-container .content section h1 {
  margin: 64px 0 32px;
  font-size: 32px;
}

.new-incident-container .content section p {
  font-size: 18px;
  color: #737380;
  line-height: 32px;
}

.new-incident-container .content div {
  width: 100%;
  max-width: 450px;
  overflow: auto;
}

.new-incident-container .content div h1 {
  margin-bottom: 15px;
}

.list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 5px;
}

.list-group-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  margin-bottom: -1px;
  background-color: #f0f0f5;
  border: 1px solid rgba(0, 0, 0, 0.125);
  text-decoration: none;
  border-radius: 2px;
  transition: filter 0.2s;
}

.list-group-item:last-child {
  margin-bottom: 1px;
}

.list-group-item-action {
  width: 100%;
  color: #495057;
  text-align: inherit;
}

.list-group-item-action:hover {
  text-decoration: none;
  filter: brightness(98%);
}
